{% extends 'base.html' %} {% block content %} {% load static %}
<link rel='stylesheet' href='{% static "css/note_list.css" %}'/>
<div role='banner' class='navbar'>
	<div class='container'>
		<div class='wrapper'>
			<div class='left-container'>
				<img src='{% static "img/view-picker.svg" %}' height='26px' width='68px'/>
			</div>
			<span class='logotype'>UNTASK</span>
			<div class='right-container'>
				<a style='line-height:0'href='{% url 'add_note' %}'><img src='{% static "img/new-task-button.svg" %}' height='26px' width='36px'/></a>
				<img src='{% static "img/archive-button.svg"%}' height='26px' width='36px'/>
			</div>
		</div>
	</div>
</div>
<div role='main' class='note-list'>
  <div class='aligner'>
    <div class='container'>
      {% for note in notes %}
      <div class='note'>
		<div class='content'>
			<div class='block title'><a href='{% url "edit_note" note.id %}'>{{ note.title|default:"(No Title)" }}</a></div>
			<div class='block text'>{{ note.text}}</div>
			<div class='block meta'>
				<div class='due-date'>{{ note.due_date|date:'d/m/Y' }}</div>
				<div class='priority {{ note.get_priority_color }}'>{{ note.get_priority_display }}</div>
			</div>
		</div>
      </div>
      {% empty %}
      <li>Пока что нет заметок!</li>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
