@import 'base.css';

main.login {
    font: var(--text-14-regular);
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.c.logo {
    box-sizing: inherit;
    display: flex;
    align-items: center;
}

.c.logo > .logotype {
    font: var(--text-big-logo);
}

.c.form {
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 390px;
    height: fit-content;
    background: var(--gray-99);
    border: 1px solid var(--gray-90);
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.c.form form {
    box-sizing: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 28px 12px;
    gap: 12px;
    background: var(--gray-100);
    border: 1px solid var(--gray-95);
    border-radius: 12px;
    flex-grow: 0;
}

form .c {
    box-sizing: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

form > input {
    font: inherit;
    box-sizing: inherit;
    width: 100%;
    border: none;
    outline: none;
    color: var(--gray-50);
    padding: 10px 14px;
    min-height: 52px;
    background-color: var(--gray-95);
    border-radius: 10px;
    flex: none;
    order: 0;
    /* align-self: stretch; */
    flex-grow: 0;
    &::placeholder {
        color: var(--gray-60);
        font-size: 12px;
    }
    &:focus {
        background-color: var(--gray-100);
        border: 1px solid var(--gray-60);
        color: var(--gray-0);
    }
}


form button[type='submit'] {
    font: var(--text-16-regular);
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    width: 100%;
    height: 42px;
    background-color: var(--orange-500);
    color: var(--orange-50);
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

form .c.link {
    height: 42px;
    flex-direction: row;
    order: 1;
    gap: 0px;
}

form .c.link > * {
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--gray-0);
    text-decoration: none;
    padding: 0 12px;
    width: fit-content;
    border: none;
    background: var(--gray-100);
    &:nth-child(2) {
        padding: 0 4px;
    }
}


form .c.link > a {
    &:hover {
        background: var(--gray-98);
        border-radius: 10px;
        transition: background-color ease-in-out 90ms;
    }    
    &:active {
        background-color: var(--gray-95);
    }
}
