@import 'base.css';

main.login {
    font: var(--text-14-regular);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

main.login #logo-container {
    display: flex;
    align-items: center;
}

main.login #logo-container .logotype {
    font: var(--text-big-logo);
}

main.login #form-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 390px;
    height: fit-content;
    background: var(--gray-99);
    border: 1px solid var(--gray-90);
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

main.login #form-container #auth-form {
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 28px 12px;
    gap: 12px;
    background: var(--gray-100);
    border: 1px solid var(--gray-95);
    border-radius: 12px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

main.login #form-container #auth-form input {
    font: inherit;
    box-sizing: inherit;
    width: 100%;
    border: none;
    outline: none;
    color: var(--gray-50);
    padding: 10px 16px;
    min-height: 52px;
    background-color: var(--gray-95);
    border-radius: 10px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

main.login #form-container #auth-form input::placeholder {
    color: var(--gray-60);
}

main.login #form-container #auth-form input:focus {
    background-color: var(--gray-100);
    border: 1px solid var(--gray-60);
    color: var(--gray-0);
}

main.login #form-container #auth-form button[type='submit'] {
    font: var(--text-16-regular);
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    width: 100%;
    min-height: 42px;
    background-color: var(--orange-500);
    color: var(--orange-50);
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

main.login #form-container #auth-form .register-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    order: 1;
    gap: 0px;
}

main.login #form-container #auth-form .register-container * {
    display: flex;
    align-items: center;
    color: var(--gray-0);
    text-decoration: none;
    padding: 0 12px;
    width: fit-content;
    min-height: 42px;
    border: none;
    background: var(--gray-100);
}

main.login #form-container #auth-form .register-container *:nth-child(2) {
    padding: 0 4px;
}

main.login #form-container #auth-form .register-container #register:hover {
    background: var(--gray-98);
    border-radius: 10px;
    transition: background-color ease-in-out 90ms;
}

main.login #form-container #auth-form .register-container #register:active {
    background-color: var(--gray-95);
}

main.login #form-container #logo-container {
    color: var(--gray-30);
    display: flex;
    align-items: center;
    font: var(--text-big-logo);
}