/* Header */
:root{
    /* position: relative !important; */
    scroll-behavior: smooth;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
}

.navbar .container {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    box-sizing:border-box;
    padding: 12px 20px;
    background-color: var(--header-light-transparent);
    backdrop-filter: blur(10px);
}

.navbar .container > .wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 646px;
    min-width: 256px;
}

.navbar .container .logotype {
    font: var(--text-small-logo);
    color: var(--gray-30);
}

.navbar .container .left-container {
    display: none;
    width: 273px;
    align-items: center;
}

.navbar .container .right-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 6px;
    width: 273px;
    align-items: center;
}

/* Main */

.note-list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* gap: 48px; */
}

.note-list > .aligner {
    display: inherit;
    box-sizing: border-box;
    padding: 12px 20px;
    justify-content: center;
    width: 100%;
}

.note-list .aligner .container {
    display: inherit;
    max-width: 646px;
    min-width: 256px;
    flex-direction: column;
    gap: 16px;
}

.note-list .note {
    display: flex;
    background-color: var(--gray-99);
    padding: 4px;
    border: 1px solid var(--gray-90);
    border-radius: 8px;
}

.note-list .note .content {
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    background-color: var(--gray-100);
    border: 1px solid var(--gray-95);
    border-radius: 6px;
}

.note-list .container .note .content .block.title {
    font: var(--text-card-header);
    padding-bottom: 8px;
}

.note-list .container .note .content .block.title a {
    text-decoration: none;
    color: inherit;
}

.note-list .container .note .content .block.text {
    box-sizing: border-box;
    font: var(--text-card-content);
    max-height: 228px;
    white-space: pre-wrap;
    overflow: hidden;
    &::slotted {
        background-color: red;
    }
}

.note-list .container .note .content .block.meta {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font: var(--text-card-meta);
    color: var(--gray-40);
    padding-top: 10px;
}

.note-list .container .note .content .block.meta :is(div[class='due-date']):is[div] {
    display: none;
}

.note-list .container .note .content .block.meta .priority {
    text-decoration: underline;
}

.note-list .container.col2 {
    flex-direction: row;
    flex-wrap: wrap;
}
.note-list .container.col2 .note {
    width: calc(100%/2 - 20px);
}